# This file defines the owners of the code in the repository.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# The * pattern will match all files in the repository.
* @mehedihassandev

# You can also specify owners for specific paths.
# For example, to set owners for the android/ and ios/ directories:
# /android/ @mehedihassandev
# /ios/     @mehedihassandev

# And for documentation:
# /docs/    @mehedihassandev
